@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
  background-color: #ffffff;
  color: #2D333A;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;


  .header__nav, .header__login, .header__logo {
    margin: auto 0;
    ul {
      display: flex;
      list-style: none;
    }
    li {
      font-size: 0.7rem;
      margin-right: 35px;
      font-weight: 500;
      cursor: pointer;
      font-family: 'Roboto',
      sans-serif;
    }
  }

  .header__logo {
    img {
      cursor: pointer;
    }
  }
}
